:root {
  --bg-color: #f0f2f5;
  --text-color: #333;
  --card-bg-color: #fff;
  --border-color: #eee;
  --primary-color: #007bff; /* Couleur principale pour les liens et les boutons */
  --hover-color: #0056b3; /* Couleur au survol pour les liens et les boutons */
}

html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}

.home-page-container,
.artist-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--hover-color);
}

.artists-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.artist {
  background-color: var(--card-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.2s;
}

.artist img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid var(--border-color);
}

.artist:hover {
  transform: scale(1.05);
}

/* Styles spécifiques pour la page de détails de l'artiste */
.artist-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artist-details h1,
.artist-details h2 {
  color: var(--primary-color);
}

.artist-details img {
  display: block;
  max-width: 300px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
}

.artist-details ul {
  list-style-type: none;
  padding: 0;
}

.artist-details li {
  background-color: var(--card-bg-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.artist-details li:hover {
  background-color: var(--hover-color);
  color: var(--card-bg-color);
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row-reverse; /* Ajouté pour inverser l'ordre des éléments flex */
  justify-content: space-between;
  align-items: flex-start;
}

.image-container {
  width: 40%;
  padding-right: 2%;
}

.text-container {
  width: 58%; /* Ajusté pour le padding */
}

.members-list,
.locations-list,
.dates-list {
  list-style-type: none;
  padding-left: 20px;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 768px) {
  .artist-details {
    width: 95%;
    margin: 20px auto;
  }

  .artist-details img {
    max-width: 80%;
  }

  .artist-details h1 {
    font-size: 1.5rem;
  }

  .artist-details h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1200px) {
  .artists-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
