:root {
  --bg-color: #333;
  --text-color: #fff;
  --card-bg-color: #fff;
  --border-color: #eee;
  --primary-color: #007bff;
  --hover-color: #0056b3;
}

html {
  height: 100%;
}

a,
li {
  text-decoration: none;
}

.members-list li,
.locations-list li,
.dates-list li {
  list-style-type: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}

.btn {
  background-color: #34656d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  position: relative;
  overflow: hidden;
  border-radius: 9px;
}

.btn:hover {
  background-color: #ffc107;
  color: #34656d;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffc107;
  z-index: 0;
  transition: left 0.5s;
}

.btn:hover::before {
  left: 100%;
}

.btn span {
  position: relative;
  z-index: 1;
}

#texteAnime span {
  font-weight: bold;
  transition: color 0.3s ease;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}

.artists-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.members-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

/* Composants spécifiques */
.card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  border-radius: 50%;
  overflow: hidden;
}

.card-link,
.card-inner,
.card-front,
.card-back {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card-inner {
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 50%;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #333;
}

.card-back {
  background-color: var(--card-bg-color);
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back h3 {
  font-size: 1.2em; /* Taille du titre */
  margin: 0; /* Supprimer la marge par défaut */
  padding: 10px 0; /* Espacement autour du titre */
}

.card-back p {
  font-size: 0.9em; /* Taille du paragraphe */
  margin: 5px 0; /* Espacement entre les paragraphes */
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.image-artist {
  border-radius: 50%;
}

.image-container,
.text-container {
  flex-basis: 48%;
}

.image-container {
  order: 1;
  max-width: 60%;
}

.text-container {
  text-align: left;
  width: 58%;
  order: 2;
}

.events-list {
  list-style-type: none; /* Supprime les puces */
  padding-left: 0; /* Supprime l'indentation par défaut des listes */
}

.events-list li {
  padding-left: 0;
  margin-left: 0;
}

.clickable-item {
  cursor: pointer;
}

.view-on-map:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.clickable-item:hover {
  transform: scale(1.02); /* Léger agrandissement */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transition douce */
}

#map {
  order: 3;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .image-container,
  .text-container {
    flex-basis: 100%;
  }

  #map {
    width: 100%;
  }
}
