<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Liste des Artistes</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Liste des artistes</h1>
    </header>

    <div class="artists-container">
      {{range .}}
      <div class="card">
        <a href="/artist/{{.ID}}" class="card-link">
          <div class="card-inner">
            <div class="card-front">
              <img src="{{.Image}}" alt="Image de l'artiste" />
            </div>
            <div class="card-back">
              <div>
                <h2>{{.Name}}</h2>
                <p>
                  <strong>Date de création:</strong><br />
                  {{formatCreationYear .CreationDate}}
                </p>
                <p>
                  <strong>Premier album:</strong> <br />{{.FirstAlbumDateStr}}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{end}}
    </div>
  </body>
</html>
