<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Artist.Name}}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">{{.Artist.Name}}</h1>
      <div class="content">
        <div id="map" style="height: 400px; width: 100%"></div>
        <div class="image-container">
          <img
            class="image-artist"
            src="{{.Artist.Image}}"
            alt="Image de {{.Artist.Name}}"
          />
        </div>
        <div class="text-container">
          <h2>Membres:</h2>
          <ul class="members-list">
            {{range .Artist.Members}}
            <li>{{.}}</li>
            {{end}}
          </ul>
          <h2>Prochaines dates et lieux:</h2>
          <ul class="events-list">
            {{range $index, $location := .Locations}}
            <li class="clickable-item" onclick="centerMapOnMarker({{$index}})">
              {{$location}}, {{index $.Dates $index}} 📍 Voir sur la carte
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>

    <!-- Ajoutez l'élément avec l'ID 'firstLocationCoords' ici -->
    <div id="firstLocationCoords" style="display: none">
      {{ .FirstLocationCoords }}
    </div>

    <!-- Google Maps JavaScript API -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh2P2kno4spZ-ERly8TUG4avTK90Z9zrU&callback=initMap"
    ></script>

    <!-- Définition des emplacements des artistes pour utilisation dans JavaScript -->
    <script>
      var artistLocations = {{ .ArtistLocationsJson }};
    </script>

    <!-- Liens vers les scripts JavaScript personnalisés -->
    <script src="/static/js/map.js"></script>
    <script src="/static/js/scrollToMap.js"></script>
  </body>
</html>
