<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Artistes</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Liste des artistes</h1>
    </header>

    <div class="artists-container">
      {{range .}}
      <div class="card">
        <div class="artist">
          <a href="/artist/{{.ID}}">
            <img src="{{.Image}}" alt="Image de {{.Name}}" />
          </a>
        </div>
        <h2>{{.Name}}</h2>
      </div>
      {{end}}
    </div>
  </body>
</html>
